* {
	margin: 0;
	padding: 0;
}

#weather-icon {
	display: none;
	height: 40px;
}

body {
	transition: background-color 0.5s ease;
	font-family: sans-serif;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

body.clear-day {
	background: linear-gradient(135deg, #fceabb, #f8b500); /* Sunny */
}

body.rain {
	background: linear-gradient(135deg, #616161, #9bc5c3); /* Rainy */
}

body.cloudy,
body.partly-cloudy-day {
	background: linear-gradient(135deg, #bdc3c7, #2c3e50); /* Cloudy */
}

body.snow {
	background: linear-gradient(135deg, #e6dada, #274046); /* Snowy */
}

h1 {
	margin-top: 40px;
}

#weather-card {
	background-color: white;
	border-radius: 15px;
	width: 300px;
	padding: 20px;
	/* Layout inside */
	display: flex;
	flex-direction: column;
	gap: 20px;
}
